/* TODO Add site wide styles */

button, input{
    border-radius: 4px;
    border: 1px solid;
    margin: 5px;
    margin: 1em 1em;
    padding: 1em 1em;
    font-size: 12px;
    box-shadow: 1px 1px .4em rgb(36, 36, 36)
}