#image-container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto 20%;
    padding: 5%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #c8c8c8;
    box-shadow: 1px 1px .4em rgb(36, 36, 36), -1px -1px .4em rgb(36, 36, 36);
    flex-wrap: wrap;
  }

.browser-image {
    background-size: contain;
    border: 3px solid #DFDFDF;
    height: 67px;
    margin: 15px;
    width: 100px;
    box-shadow: 1px 1px .4em rgb(36, 36, 36), -1px -1px .4em rgb(36, 36, 36);
  }

