html, body, h1, h2, h3, h4, h5, h6, main, nav, div, ul, li, {
    margin: 0;
    padding: 0;
  }

.signup-form{
    width: 200px;
    height: 400px;
    margin-top: 125px;
    display: flex-box;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.signup-form input{
    border-radius: 4px;
}


.signup-form label{
    display: block;
    
}

.signup-form button{
    display: block;
    position: relative;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
}

.signup_page{
    background-size: auto 160%;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url('./../../images/signup.jpeg');
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}